:root {
  --ion-color-primary: #c562c6;
  --ion-color-primary-rgb: 197, 98, 198;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #ad56ae;
  --ion-color-primary-tint: #cb72cc;
}
